<template name="engine">
<div class="container-fluid">
{{> navbar}}
</div>
<div class="container">
	<div id="current-q" style="
    text-align: center;
    font-size: 3em;
	">
		<div >{{question}}</div>
 	</div>


<div class="table-responsive">
  <table class="table" id="optionlist" >
  		<tr>
  			<td id="opt1" >
  				<div >
  					  hello in opt1 	
  				</div>			
  			</td>
  			<td id="opt2">
  				hello in opt2 				
  			</td>
  		</tr>

  		<tr>
  			<td id="opt3">
  				hello in opt3 				
  			</td>
  			<td id="opt4">
  				hello in opt4			
  			</td>
  		</tr>
  </table>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  	<button type="button" class="btn btn-default navbar-btn navbar-left" id="next">Back</button>
    <button type="button" class="btn btn-default navbar-btn navbar-right" id="next">Next</button>
  </div>
</nav>
</div>
</template>
